# Compiled source files #
*.class

# common packages #
# just in case
*.7z
*.dmg
*.rar
*.iso
*.tar
*.zip
*.jar

# log file output #
*.log

# other misc. files #
.docx

# specific files #
/test.txt
/bin
/tests